@media (min-width: 1000px) {
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400; /* Example: regular weight */
    }

    label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400; /* Example: regular weight */
    }

    h1 {    
        font-size: 4rem;
    }

    h2 {
        font-size: x-large;
    }

    iframe {
        box-shadow: 0 4px 8px 0 rgba(128, 0, 32, 0.2), 0 6px 20px 0 rgba(128, 0, 32, 0.19);
    }

    body { 
        background-image: url(./img/background-3-pc.png);
        background-color: rgba(255,255,255,0.1);
        background-size: cover;
        background-position: bottom;

        font-size: x-large;
    }


    .view {
        height: 100dvh;
        width: 80%;
        scroll-snap-align: start;
        margin: auto;
    }

    #mobile-nav {
        display: none;
    }


    #welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .welcome-names-heading {
        margin-top: 2rem;
    }

    .welcome-details {
        text-align: center;
    }

    .main-navigation {
        width: 80%;
        ul {
            list-style: none;

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                text-decoration: none;

                font-family: "Quicksand", sans-serif;
                font-size: large;
                color: var(--primary-colour);
            }

            a:hover {
                border-bottom: 1px outset var(--primary-colour);
            }
        }
    }

    .secondary-wide-image {
        display: none;
    }

    .pc-main-background {
        width: 100%;
        height: 60%;
        margin-bottom: 5rem;

        background-image: url(./img/dip-wide.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;

        box-shadow: 0 4px 8px 0 rgba(128, 0, 32, 0.2), 0 6px 20px 0 rgba(128, 0, 32, 0.19);
    }


    #rsvp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
    }

    .rsvp-image {
        margin: auto;
        height: 80%;
        width: 60%;
        padding: 3rem;

        order: 0;

        background-image: url(./img/sitting-cheers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }

    #rsvp-form {
        order: 1;
        height: 80%;
        width: 40%;
        margin: auto;
        padding: 3rem;
        background-color: white;

        box-shadow: 0 4px 8px 0 rgba(128, 0, 32, 0.2), 0 6px 20px 0 rgba(128, 0, 32, 0.19);
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .rsvp-details {
            h2 {
                text-align: center;
                font-size: xx-large;
            }
        }

        .input-name-label {
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .input-name-input {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .input-name-coming {
            grid-row: 2;
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 5px;
        }

        .input-name-not-coming {
            grid-row: 2;
            grid-column: 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        #rsvp-inputs {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            #cheers-container {
                display: flex;
                justify-content: center;

                margin: auto;

                margin-top: 5rem;
                height: 50%;
            }

            .amount-select {
                height: 10%;
                width: 100%;

                margin-top: 1rem;

                display: inline;

                #rsvp-total-label {
                    font-size: large;
                    float: left;
                }

                #rsvp-total-select {
                    font-size: large;
                    float: right;
                }
            }

            #rsvp-names-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                height: 50%;

                .name-section {
                    font-size: medium;
                    display: grid;
                    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
                    grid-template-rows: 1fr 1fr;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }

            #additional-notes {
                font-size: medium;
                height: 20%;
                display: flex;
                flex-direction: column;

                textarea {
                    height: 100%;
                    margin-bottom: 1rem;
                }
            }

            #rsvp-form-submit-button {
                height: 10%;
                width: 100%;
                margin: auto;
                margin-right: 0;

                background-color: var(--primary-colour);
                color: white;

                justify-self: flex-end;
            }
        }

    }


    #accommodation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        .accommodation-mobile-heading {
            display: none;
        }
    }

    .accommodation-map {
        height: 80%;
        flex-grow: 1;
    }

    .accommodation-data {
        height: 80%;
        max-width: 45%;
        flex-grow: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            align-self: center;
            font-size: xx-large;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    }


    #faq {
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: 5%;
            align-self: center;
            font-size: xx-large;
        }
    }
}