:root {
    --primary-colour: #800020
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

main {
    height: 100dvh;
    width: 100dvw;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-colour);

    margin: 0;
    padding: 0;
}

h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-colour);

    margin: 0;
    padding: 0;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-colour);
}

ul {
    list-style: none;
}

li {
    font-family: "Quicksand", sans-serif;
    color: var(--primary-colour);
}

#end {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    height: auto;
    width: 100%;

    p {
        margin: auto;
        font-size: medium;
    }
}


#faq {
    ul {
        li {
            border: 1px solid rgba(128, 0, 32, 0.2);
            box-shadow: 0 4px 16px 0 rgba(128, 0, 32, 0.37);
            border-radius: 10px;
            backdrop-filter: blur(3px);

            margin-bottom: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}